/* Import des fichiers CSS */
@import 'styles/variables.css';
@import 'styles/global.css';
@import 'styles/components/navbar.css';
@import 'styles/components/movie-card.css';
@import 'styles/components/comments.css';
@import 'styles/components/modal.css';
@import 'styles/utils/animations.css';
@import 'styles/utils/responsive.css';

/* Styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  background-color: var(--background-color);
  color: var(--text-color);
}

footer {
  margin-top: auto;
  padding: var(--spacing-md);
  background-color: white;
  text-align: center;
  box-shadow: var(--shadow-sm);
}

/* Suppression du contenu actuel car il sera réparti dans les différents fichiers */
